body {
  background-color: honeydew;
  padding: 25px;
}

.bistros-navbar {
  background-color: seagreen;
}

.bistros-icon {
  font-size: 40px;
}

.bistros-font-navbar {
  font-family: "Courgette", cursive;
  font-size: 42px;
}

.bistros-font-h2 {
  font-family: "Courgette", cursive;
  font-size: 36px;
}

.bistros-font-h3 {
  font-family: "Courgette", cursive;
  font-size: 24px;
}

#top-area {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#order-online-btn {
  background-color: seagreen;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 200px;
  border-radius: 25px;
  border: 2px solid black;
}

#middle-area {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.food-image {
  border-radius: 15px;
  box-shadow: 2px 2px 5px seagreen;
  margin: 5px;
  height: 200px;
  width: 300px;
}

#bottom-area {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
}

.bottom-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pet-icon {
  font-size: 50px;
  color: seagreen;
  margin-bottom: 15px;
}

#footer-row {
  background-color: seagreen;
  color: honeydew;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
}

.footer-text {
  font-size: 16px;
}
